
<header class="topbar">
  <div class="topbar_row">
    <a class="brand" routerLink="/" aria-label="Municipalidad de Cabrero">
      <img class="brand__img" src="https://i.ibb.co/5Xxq5DzB/image.png"/>
      <span class="brand__name hidden-sm">Municipalidad de Cabrero</span>
    </a>

    <!-- Contenedor para agrupar los elementos de la derecha -->
    <div class="topbar_right">
      <a class="header_link" routerLink="/cabrero">Cabrero</a>
      <a class="header_link" routerLink="/alcalde">Alcalde</a>
    </div>
  </div>
</header>

<div class="legal_info_container">
  <div class="legal_info_row">
    <a href="https://www.leylobby.gob.cl/instituciones/MU018" class="legal_info_link">Ley del Lobby</a>
    <a href="https://www.portaltransparencia.cl/PortalPdT/web/guest/directorio-de-organismos-regulados?p_p_id=pdtorganismos_WAR_pdtorganismosportlet&orgcode=49de98ade0b5485d0ff5d570e61df31d" class="legal_info_link">Solicitar información</a>
    <a href="https://www.cabrero.cl/transparencia_cabrero/" class="legal_info_link">Transparencia Activa</a>
    <a href="https://www.cabrero.cl/images/SCAM.pdf" class="legal_info_link">Expediente SCAM</a>
  </div>
</div>

