
<header class="topbar">
  <div class="topbar_row">
    <a class="brand" routerLink="/" aria-label="Municipalidad de Cabrero">
      <img src="assets/logo-cabrero.svg" alt="Logo Municipalidad de Cabrero" class="brand__img" />
      <span class="brand__name hidden-sm">Ilustre Municipalidad de Cabrero</span>
    </a>
    <a routerLink="/cabrero">Cabrero</a>
    <a routerLink="/cabrero">Municipio</a>
  </div>
</header>

<div class="legal_info_container">
  <div class="legal_info_row">
    <a href="/lobby" class="legal_info_link">Ley del Lobby</a>
    <a href="/solicitar-informacion" class="legal_info_link">Solicitar información</a>
    <a href="/transparencia-activa" class="legal_info_link">Transparencia Activa</a>
    <a href="/scam" class="legal_info_link">SCAM</a>
  </div>
</div>

