.topbar {
  background: var(--verde);
  color: white;
  padding: 0.5rem 1rem;
}

.topbar_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 0.5rem;
}

.brand__img {
  height: 50px; /* tamaño del logo */
}

.brand__name {
  font-weight: bold;
  font-size: 1rem;
}

.legal_info_container{
  background: var(--amarillo);
  padding-block: 10px;
}
.legal_info_row{
  display:flex; gap:14px; align-items:center; justify-content:center; flex-wrap:wrap;
}
